OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini
NEXT_PUBLIC_APP_URL=https://pierre-videncia-saas.vercel.app
MERCADO_PAGO_ACCESS_TOKEN=
GOOGLE_SHEETS_SPREADSHEET_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_LEADS_TABLE=leads
PIX_KEY=
WHATSAPP_NUMBER=5511997645922
ADMIN_PASSWORD=troque-esta-senha
NEXT_PUBLIC_FACEBOOK_URL=https://www.facebook.com/profile.php?id=61582942988152
NEXT_PUBLIC_INSTAGRAM_URL=
NEXT_PUBLIC_TIKTOK_URL=
NEXT_PUBLIC_YOUTUBE_URL=
